---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css">
      <!-- Google tag (gtag.js) -->
      <script
        is:inline
        type="text/partytown"
        async src="https://www.googletagmanager.com/gtag/js?id=G-Y1TJ1Y512S"
      ></script>

      <script is:inline data-category="analytics" type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag("consent", "default", {
            ad_storage: "denied",
            ad_user_data: "denied",
            ad_personalization: "denied",
            analytics_storage: "denied",
        });

        gtag('config', 'G-Y1TJ1Y512S');
      </script>
      <script is:inline data-category="analytics">
        function updateConsents() {
          gtag("consent", "update", {
            ad_storage: "granted",
            ad_user_data: "granted",
            ad_personalization: "granted",
            analytics_storage: "granted",
          });
        }
      </script>
      
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script type="module" src="/src/scripts/cookieconsent-config.js"></script>
  </body>
</html>
